# backup
*~

# python
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# C
*.o
*.a
*.exe
*.pcfg

# cmake build dir
build

#kdevelop
*.kdev4


# Trigger
!*/bin
*.swp
*.out
v/vme/monscall++/*
v/vme/monscall*/cnt
v/*/*/linux*/
v/*/*/*/linux*/
v/vme/*/*_cf
v/vme/*/*_cf.c
v/vme/*/*_cf.py
v/vme/bobr/bobr.make
v/vme/ttcmi/ttcmi.make
v/vme/corde/corde.make
v/vme/fanio/fanio.make
v/vme/rfrx/rfrx.make
v/vme/ttcvi/ttcvi.make
v/vme/cosmicfo/cosmicfo.make
v/vme/inputs/inputs.make
v/vme/simple/simple.make
v/vme/VME2FPGA/VME2FPGA.make
v/vme/ctp/ctp.make
v/vme/ltu/ltu.make
v/vme/switch/switch.make
v/vme/ctpt/ctpt.make
v/vme/lvdst/lvdst.make
v/vme/ttcit/ttcit.make
v/vme/CFG/ctp/DB/*
v/vme/CFG/ctp/pardefs/*
