L1_FORMAT	3	
L0	TTC	# TTC CABLE
mode	BC	#BC PULSER_EDGE PULSER_LEVEL RANDOM SW UNDEFINED
bcrate	101.000000	# 0.5 1 triger per 2 seconds
busy	1	# 1,2,3:enable both busys, 0:disable both inputs
#orbitbc	91	# int
sodeod	YES	# YES NO
TTCRX_RESET	YES	# YES NO or INIT
l2aseq	"L2a.seq"	
BC_DELAY_ADD	0	#	0..31, do not change this at P2!
RATE_LIMIT 0x13f   # 0x13f: disabled
#GLOBAL_CALIBRATION	NO	#YES NO
#GLOBAL_CALIBRATION_RATE	0.000000	#	float 0.0 .. 100.0 (per sec)
#GLOBAL_CALIBRATION_ROC	0	#	0..7
#LOGTIMESTAMP	NO	#	YES NO

